.page-body{
  max-width: 768px;
  margin: auto;
  padding: 32px 16px 90px 16px;
}
@media screen and (max-width: 768px) {
  .page-body{
    padding-top: 16px;
  }
}

.article-image-container{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-bottom: 40%;
  margin-bottom: 24px;
}

.article-image-container-large{
  padding-bottom: 100%;
}

@media screen and (max-width: 768px) {
  .article-image-container{
    padding-bottom: 90%;
  }
}

.article-text-title{
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 700;
}

.article-text-content{
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 26px;
}
