.page-body{
  max-width: 1440px;
  margin: auto;
}
@media screen and (max-width: 1440px) {
  .page-body{
    max-width: 1280px;
  }
}
@media screen and (max-width: 1280px) {
  .page-body{
    max-width: 1024px;
  }
}

.page-body-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .page-body-row{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.page-body-row > .page-body-row-block{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
  padding: 0 40px;
  margin-bottom: 24px;
  background-color: #f5f5f5;
}
@media screen and (max-width: 768px) {
  .page-body-row > .page-body-row-block{
    margin-bottom: 0;
    height: 320px;
    padding: 0 16px;
  }
}

.page-body-row-block-title{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .page-body-row-block-title{
    margin-bottom: 16px;
  }
}

.page-body-row-block-subtitle{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .page-body-row-block-subtitle{
    font-size: 16px;
  }
}

.page-body-row-block-btn{
  height: 40px;
  width: fit-content;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0 20px;
  cursor: pointer;
}

.page-body-6-boxes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .page-body-6-boxes{
    display: none;
  }
}

.page-body-6-boxes > .page-body-6-boxes-single-image{
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  background-color: #f5f5f5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-body-intro{
  width: 100%;
  border: 1px solid #000;
  padding: 80px 60px;
  margin-top: 90px;
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .page-body-intro {
    padding: 40px 16px;
    margin: 40px 16px 40px 16px;
    width: calc(100% - 32px);
  }
}

.page-body-intro-title{
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 40px;
  text-align: center;
}
  @media screen and (max-width: 768px) {
    .page-body-intro-title{
      font-size: 24px;
      margin-bottom: 24px;
    }
  }

.page-body-intro-description{
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  text-decoration-line: underline;
}
@media screen and (max-width: 768px) {
  .page-body-intro-description{
    font-size: 14px;
  }
}