.page-body{
  max-width: 1440px;
  margin: auto;
  padding: 0 16px;
}
@media screen and (max-width: 1440px) {
  .page-body{
    max-width: 1280px;
  }
}
@media screen and (max-width: 1280px) {
  .page-body{
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .page-body{
    max-width: 1024px;
    padding: 0;
  }
}

.page-body-row{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 768px) {
  .page-body-row{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .page-body-row-reverse > .page-body-row-block:nth-child(1){
    order: 2;
  }
}

.page-body-row > .page-body-row-block{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 320px;
  padding: 0 40px;
  margin-bottom: 4px;
  background-color: #f5f5f5;
}
@media screen and (max-width: 768px) {
  .page-body-row > .page-body-row-block{
    margin-bottom: 0;
    height: 320px;
    padding: 0 16px;
  }
}

.page-body-row-block-title{
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .page-body-row-block-title{
    margin-bottom: 16px;
  }
}

.page-body-row-block-subtitle{
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 32px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .page-body-row-block-subtitle{
    font-size: 16px;
  }
}

.page-body-row-block-btn{
  height: 40px;
  width: fit-content;
  border-radius: 20px;
  background: transparent;
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0 20px;
  cursor: pointer;
}

.page-body-9-boxes{
  margin-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .page-body-9-boxes{
    margin-bottom: 32px;
  }
}

.page-body-9-boxes > .page-body-9-boxes-title{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 60px;
}

.page-body-9-boxes > .page-body-9-boxes-title > .page-body-9-boxes-title-divider{
  border-bottom: 3px dotted #424242;
  width: 30%;
  padding: 0 32px;
  margin: 0 32px;
}
@media screen and (max-width: 768px) {
  .page-body-9-boxes > .page-body-9-boxes-title > .page-body-9-boxes-title-divider{
    padding: 0 24px;
    margin: 0 24px;
  }
}

.page-body-9-boxes > .page-body-9-boxes-title > .btn-follow-us{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 3px solid #424242;
  height: 60px;
  border-radius: 30px;
  padding: 0 8px;
  width: 240px;
  min-width: 220px;
}
.btn-follow-us > .btn-follow-us-icon{
  height: 40px;
  width: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.btn-follow-us > .btn-follow-us-text{
  font-size: 16px;
  font-weight: 700;
  margin-left: 16px;
  text-align: center;
}

.page-body-9-boxes > .page-body-9-boxes-gallery{
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
@media screen and (max-width: 768px) {
  .page-body-9-boxes > .page-body-9-boxes-gallery{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }
}

.page-body-9-boxes > .page-body-9-boxes-gallery > a > .page-body-9-boxes-single-image{
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  background-color: #f5f5f5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-body-9-boxes > .page-body-9-boxes-gallery > a > .page-body-9-boxes-single-image:hover{
  filter: brightness(0.8);
  transition: all .3s;
}
