.page-body{
  max-width: 1024px;
  margin: auto;
  padding: 32px 16px 90px 16px;
}
@media screen and (max-width: 768px) {
  .page-body{
    padding-top: 16px;
  }
}

.location-list{
  /*display: flex;*/
  /*flex-direction: column;*/
  display: grid;
  grid-gap: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fill, 1fr);
}

@media screen and (max-width: 768px) {
  .location-list{
    grid-gap: 16px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
  }
}

.location-list > .single-location{
  padding: 16px 20px;
  border: 0.5px solid #424242;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .location-list > .single-location{
    padding: 16px 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: unset;
  }
}

/*.location-list > .single-location:not(:last-of-type){*/
/*  margin-bottom: 32px;*/
/*}*/
/*@media screen and (max-width: 768px) {*/
/*  .location-list > .single-location:not(:last-of-type){*/
/*    margin-bottom: 24px;*/
/*  }*/
/*}*/

.location-image-container{
  width: calc(50% - 16px);
  margin-right: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 768px) {
  .location-image-container{
    width: 100%;
    padding-bottom: 56.25%;
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.location-info-container{
  /*width: calc(50% - 16px);*/
  /*margin-left: 16px;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .location-info-container{
    width: 100%;
    margin-left: 0;
    justify-content: center;
    align-items: center;
  }
}

.location-store-name{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}

.location-open-hours{
  margin-bottom: 24px;
}

.location-open-hours > .single-open-hour{
  font-size: 16px;
}

.location-open-hours > .single-open-hour:not(:last-of-type){
  margin-bottom: 8px;
}

.location-store-address-1{
  margin-bottom: 4px;
}

.location-store-address-1 > a{
  font-size: 14px;
  color: #357894;
  cursor: pointer;
  text-decoration: underline;
}

.location-store-address-2{
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .location-store-name{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .location-open-hours{
    text-align: center;
    margin-bottom: 16px;
  }

  .location-open-hours > .single-open-hour{
    text-align: center;
    font-size: 14px;
  }

  .location-open-hours > .single-open-hour:not(:last-of-type){
    margin-bottom: 8px;
  }

  .location-store-address-1{
    text-align: center;
    margin-bottom: 4px;
  }

  .location-store-address-1 > a{
    font-size: 14px;
  }

  .location-store-address-2{
    text-align: center;
    font-size: 14px;
  }
}

.btn-get-direction{
  height: 40px;
  width: fit-content;
  border-radius: 20px;
  background: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0 20px;
  cursor: pointer;
  margin-top: 20px;
}